.new-tweet {
  margin: 2em;
  padding: 0px 8px 40px 8px;
}

.counter {
  font-size: 1em;
  font-family: "Bungee", cursive;
  color: rgb(62, 57, 57)
}

.add-tweet {
  background-color: #4056A1;
  font-family: "Bungee", cursive;
  color: #FFFFFF;
}

.enter-text {
  display: flex;
  flex-direction: column;
}

.button-counter {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

#tweet-text {
  border: none;
  border-bottom: solid;
  background-color: #f4f1ec;
}

/* adding new tweets */
article {
  display: flex;
  flex-direction: column;
  height: 280px;
  margin: 2em;
  border: 3px solid  rgb(62, 57, 57);
}
article:hover {
  box-shadow: 5px 10px #4056A1;
}

article header {
  flex-direction: row;
  justify-content: start;
  justify-content: space-between;
}

article header i {
  padding-left: 25px;
}

article header h4 {
  padding-left: 25px;
  flex-grow: 2;
}

article header div {
  padding-right: 25px;
}
article p {
  padding-left: 25px;
  border-bottom: solid;
}
article footer h6 {
  padding-left: 0;
  margin: 0;
  margin-right: auto;
}
.fa-flag:hover, .fa-retweet:hover, .fa-heart:hover {
  opacity: .3;
  color:#4056A1;
}
.icons{
  display: flex;
  align-content: flex-end;
  flex-direction: row;
}

article footer {
  display: flex;
  align-items: center;
  margin: 5px;
}

.error-message {
  display: flex;
  justify-content: center;
  color:  red;
  font-weight: 600;
}

@media only screen and (min-width: 1024px){
  #tweets-container {
    width: 60%;
    float: right;
  }
}